.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.02);
    }
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.check-icon {
    color: rgb(32, 213, 236);
    display: inline-block;
    margin-left: 6px;
    font-size: 1.2rem;
}

.nickname {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}